@mixin loading-spinner() {
	@keyframes ball-beat {
	    50% {
	      opacity: 0.2;
	      -webkit-transform: scale(0.75);
	      transform: scale(0.75);
	    }
	    100% {
	      opacity: 1;
	      -webkit-transform: scale(1);
	      transform: scale(1);
	    }
	  }
	width: auto;
    padding: 10px 12px;
    background-color: #e6faff;
    border-radius: 4px;
    font-size: 14px;
    color: $theme-color;
    left: 50%;
    transform: translateX(-50%);
    .spinner-cell{
	    background-color: $theme-color;
	    width: 2px;
	    height: 2px;
	    display: inline-block;
	    border-radius: 100%;
	    margin: 0 2px;
	    animation: ball-beat 0.7s linear infinite;
	    &:nth-child(odd){
	    	animation-delay: -0.35s;
	    }
	}
}
